<!DOCTYPE html>
<html>
<head>
  <title>¯\_(ツ)_/¯</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="wrapper">
      <div class="doge">
        <%= image_tag('haha-logo.png') %>
      </div>
      <h1>¯\_(ツ)_/¯</h1>
      <% flash.each do |type, message| %>
        <% { notice: 'positive', alert: 'negative' }.with_indifferent_access.
          tap do |styles| %>
          <%= content_tag :div, class: "ui #{styles[type]} transition hidden message" do %>
            <%= content_tag :div , message, class: 'header' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
