<div class="ui segment">
  <%= form_for(@meme, html: {multipart: true, class: 'ui form'}) do |f| %>
    <% unless params[:action].inquiry.edit? %>
      <%= field(@meme, :picture) do %>
        <%= f.file_field :picture, class: 'ui input' %>
      <% end %>
    <% else %>
      <%= image_tag @meme.picture.url(:thumb) %>
    <% end %>
    <%= field(@meme, :tags) do %>
      <div class="ui right labeled left icon input">
        <i class="ui tags icon"></i>
        <%= f.text_field :tags, placeholder: 'Commas-separated list of tags',
          value: @meme.tags? ? @meme.tags.join(', '): '' %>
        <div class="ui tag label">Tags</div>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit class: 'ui primary button' %>
      <%= link_to 'Back', memes_path, class: 'ui button' %>
    </div>
  <% end %>
<div>
